<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 text-center">
			    <div></div>
				<img width="250px" alt="Cabbage" class="img-responsive text-center" src="modules/core/img/brand/cabbage.png" />		
			</div>
			<div class="col-md-6">
               <h2> Modular applications </h2>
               <p>
                   Creating applications has never been easier. Few clicks and ideas are separating you from your tailored application.  
               </p>
            </div>
		</div>
		<br>
	</div>


	<br>Enjoy &amp; Keep Us Updated,
	<br>The Cabbage Team.
</section>