<section data-ng-controller="QrpointsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Qrpoints</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="qrpoint in qrpoints" data-ng-href="#!/qrpoints/{{qrpoint._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="qrpoint.created | date:'medium'"></span>
				by
				<span data-ng-bind="qrpoint.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="qrpoint.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!qrpoints.$resolved || qrpoints.length">
    	No Qrpoints yet, why don't you <a href="/#!/qrpoints/create">create one</a>?
    </div>
</section>