<section data-ng-controller="ApplicationsController">
    <div class="page-header">
        <h1>New Application</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name of the applications</label>
                    <div class="controls">
                        <input type="text" data-ng-model="app.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <hr></hr>
                <div class="form-group">
                    <div class="col-md-12">
                    <label for="modules" class="control-label"> Select modules</label>
                    </div>
                    <br></br>
                        <div class="col-md-6"  ng-repeat="ta in config.modules">
                            <label class="checkbox-Modules">
                                
                                    <input type="checkbox" name="selectedTypeOfAdd[]" value="{{ta.id}}" 
                                data-ng-checked="application.modules.indexOf(ta.id) > -1" data-ng-click="toggleSelection(ta.id, 1)"> {{ta.title}}
                               
                            </label>
                         </div>

                </div>
                
                <div class="form-group">
                    <input type="submit" value="Ok, lets go!" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>